@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .LoginComponent{
      color: rgb(232,116,97);
      text-size-adjust: 50px;
    }
  }

  .contactUs-center {
    margin: auto;
    width: 50%;
    margin-top:200px;
    padding: 10px;
    text-decoration: white;
  }
  .createprofile{
    text-align: center;
  }